body {
  font: 1.125rem/1.6 'Roboto', sans-serif;
  background-color: #c86fe6;
  color: #333;
  padding: 1.25rem;
  margin: 0;
}

header, footer {
  background: #673AB7;
  color: #fff;
  padding: 1.25rem;
  text-align: center;
  margin-bottom: 1.25rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.1);
}
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.contact-info {
  flex: 1;
}

.profile-photo img {
  width: 12.5rem; 
  height: auto;
}
#projects a {
  color: #9b54e2;
  text-decoration: none;
  border-bottom: 0.125rem solid #9b54e2;
  transition: 0.3s;
}
#skills ul {
  list-style-type: disc;
  padding-left: 1.5rem;
}

#projects a:hover {
  color: #4CAF50;
  border-bottom: 0.125rem solid #4CAF50;
}

h1, h2 {
  margin: 0;
  font-size: 2em;
}

p, section {
  margin-bottom: 1.25rem;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: #673AB7;
}

section {
  padding: 1.25rem;
  background: #FFF;
  color: #333;
  border-radius: 0.125rem;
  box-shadow: 0 0.125rem 0.3125rem rgba(0,0,0,0.1);
  transition: box-shadow 0.3s ease;
}


section:hover {
  box-shadow: 0 0.3125rem 0.9375rem rgba(0,0,0,0.2);
}

.flex-container {
  display: flex;
  justify-content: flex-start;
}

#projects, #skills {
  flex-basis: 45%; /* Adjust as needed */
  margin-right: 1.875rem; /* Adjust as needed */
}

@media (max-width: 37.5rem) {
  body {
    font-size: 1rem;
    padding: 0.625rem;
  }

  h1, h2 {
    font-size: 1.5em;
  }
}