/* main.css */
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #000;
  color: #0f0;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 2em;
  text-shadow: 0 0 5px #0f0;
}

p {
  font-size: 1em;
  text-shadow: 0 0 5px #0f0;
}

a {
  color: #0f0;
  text-decoration: none;
}

a:hover {
  color: #0ff;
}

@media (max-width: 600px) {
  body {
      padding: 10px;
  }
}